/* navbar */
.logo {
  width:35px;
}

.navbar{
  margin-bottom: 0px;
}

.navbar-brand {
  padding-top: 6px;
}
/* jumbotron */
.jumbotron {
  background-color: black;
  color: #eee;
  text-align: center;
}
